.playground{
    background-color: #252526;
    border-radius: 4px;
    pre{
        display: grid;
        padding: 8px;
    }
    code{
        background-color: #1E1E1E;
        margin-bottom: 8px;
        padding: 4px;
    }
}